/* Global Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-black: #000000;
    --color-red: #AE1332;
    --color-green: #A4CB66;
    --color-yellow: #F5CE13;
    --color-white: #FFFFFF;

}

html {
    font-family: "DM Sans", Tahoma, Verdana, sans-serif;
    overflow-x: hidden;
    width: 100%;
}
@font-face {
    font-family: "DM Sans", Tahoma, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url();
}

/* Nav Styling */
header {
    background-color: var(--color-white);
    font-family: "DM Sans", Tahoma, Verdana, sans-serif;
}
.list {
    list-style: none;
    font-style: normal;
}

a {
    text-decoration: none;
    position: relative;
}

.mobile-menu-layout {
    display: flex;
    width: 100%;
}

.mobile-menu-layout button {
    background-color: transparent;
    border: none;
}

.mobile-nav-layout {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    position: relative;
    background-color: var(--color-red);
    margin-bottom: auto;
}
.mobile-site-nav .link {
    color: var(--color-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    padding: 0 20px;

}
.mobile-icon-basket {
    display: flex;
    justify-content: center;
    align-content: center;
}
    
.js-menu-container {
    padding: 72px 24px 40px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    flex-flow: column nowrap;
    transform: translateX(100%);
    visibility: visible;
    transition: transform 250ms;
}

.js-menu-container.is-open {
    transform: translateX(0);
}

.js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav-layout .mobile-site-nav {
    display: flex;
    flex-flow: column nowrap;
}
.mobile-menu-close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.site-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.site-nav .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--color-white);
    padding: 0 20px;
}

.logo-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: var(--color-red);
}

@media screen and (min-width: 375px) and (max-width: 767px) {
.mobile-menu-layout {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
}



/* .site-nav {
    position: absolute;
    right: 0;
    top: 8vh;
    background-color: var(--color-red);
    height: 30vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: .3s ease-in-out;
}
.icon-basket {
    position: absolute;
    right: 0;
    top: 35vh;
    background-color: var(--color-red);
    height: 10vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: .3s ease-in-out;
} */



/* .mobile-nav-layout {
    position: absolute;
    right: 0;
    top: 4vh;
    background-color: var(--color-red);
    height: 92vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: .3s ease-in-out;
} */